#main-frame {
    position: fixed;
    left: 30%;
}

#main-menu {

}

li {
    margin-top: 15px;
}

#board {
    margin-top: 30px;
    margin-bottom: 30px;
}

#game-status-label {

}

#game-infos {
    clear: both;
}

.board-row {
    clear:both;
    max-width: 500px;
}

.board-cell {
    float:left;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
}

.snake-part-element {
    background: grey !important;
}

.snake-element {
    background: black !important;
}

.empty-element {
    background: white;
}


.menu-option {
	cursor: pointer;
}
