#mainFrame {
	
}

.row {
	margin-left: 10px;
	padding: 0;
}

.col-md-1 {
	margin: 0;
	padding: 10px;
	height: 20px;
	width: 10px;
	max-height: 10px;
	max-width: 10px;
	border: 1px solid grey;
}

.menuOption {
	cursor: hand;
}

h6 {
	font-size: 10px;
}
