body {
    background-color:#F2F2F2 !important;
}

p {
    color: #005673;
}

#top {
    display: flex;
    justify-content: center;
    padding: 10 0 10 0;
    border-bottom: 1px solid #005673;
    background: rgb(224, 236, 255);
}

#main-frame {
    margin-top: 50px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-header {
    background: rgb(198, 220, 255);
    font-weight: bold;
}

.menu-item-special {
    background: rgb(198, 220, 255);
}

.menu-option {
	cursor: pointer;
}

.clear {
    clear: both;
}

ul {
    list-style-type: none;
    max-width: 500px;
    min-width: 400px;
}

ul > li {
    border: 1px solid rgb(35, 115, 142);
    border-bottom: none;
    padding: 10px;
    text-align: center;
    color: #005673;
    background: rgb(224, 236, 255);
}

ul > li:last-child {
    border-bottom: 1px solid rgb(35, 115, 142);
}

#other-info {
    margin-top: 10px;
    font-size: 10px !important;
    background: rgb(224, 236, 255);
    text-align: center; 
    border-top: 1px solid rgb(198, 220, 255);
    border-bottom: 1px solid rgb(198, 220, 255);
    padding: 5px;
}

#other-info p {
    padding: 0;
    margin: 0;
}

.board-row {
    display: flex;
    justify-content: center;
}

#game-menu {
    display: flex;
    justify-content: flex-end;
}

#restart-game {
    margin-top: 20px;
    font-weight:bold;
    text-align: center;
}

.board-cell {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(150, 150, 150);
}

.snake-part-element {
    background: rgb(198, 220, 255) !important;
}

.snake-element {
    background: #005673 !important;
}

.empty-element {
    background: white;
}

.normal-text {
    font-size: 16px;
}

.small-text {
    font-size: 14px;
}

.important {
    font-weight: bold;
}

.not-important {
    font-weight: 200;
}
